body{
    background-color: rgb(250, 253, 208);
    text-align: center;
}

h1{
    margin: 0 20px;
    font-size: 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

h2{
     font-size: 32px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50%;
    color: black;
    display: inline-flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid black;
    
}

button{
    height: 40px;
    width: 85px;
    border-radius: 25%;
    background-color: rgb(14, 71, 239);
    color: white;
    font-size: 16px;
}

button:hover{
    background-color: rgb(57, 104, 247);
    cursor: pointer;
}